<p id="notice"><%= notice %></p>

<h1>Reports</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Generated on</th>
      <th>Download Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.name %></td>
        <td><%= report.created_at %></td>
        <td><%= link_to 'Download', download_report_path(report), method: :get, target: "_blank" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>